.container {
  margin: 0;
  /* font-family: "Noto Sans KR", sans-serif; */
  font-optical-sizing: auto;
  /* padding-top: 10vh; */
}
.center-aligned-cell {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}